
			#link {		
						display:block;
						padding:30px;
						font-size:1.2em;
						width:160px;
						height:190px;
						border-radius: 0px 0px 10px 10px;
						background:white;
						font-family: 'Kaushan Script', cursive;
					}

			.box { 
					display:block;
					background:#660066;
					border-radius:10px 10px 0px 0px;
					text-align:center;
					font-weight:bold;
					color:#bada55;
					margin:0px;
					border:0px;
					overflow:hidden;
				    }

			#pin { 
					float:right;
					display:inline-block;
					margin:0px 20px;						
				   }


