		
		footer { 

			font-family: 'Bitter', serif;
			font-family: 'Petit Formal Script', cursive;
			font-family: 'Italianno', cursive;
			font-family: 'Rochester', cursive;
					color:white; 
					font-weight:bold;
					font-size:1.3em;
					margin:20px;
				}

		center > kor {font-family: 'Nanum Pen Script', cursive;}
